@use "../../../static/style/_common" as common;
@import "../../../static/style/reset.scss";
* body {
  background-color: white;
}
.calendar {
  margin: 0 auto;
  @include common.size(90%, 100%);
  .header {
    @include common.size(100%, 7%);
    @include common.flex-row(space-between, baseline);
    .col.col-first {
      @include common.size(80%, 100%);
      @include common.flex-column(center, flex-start);
      margin-left: 1%;

      .text {
        font-size: 1em;
        font-weight: 700;
        font-weight: 600;
      }
      .text.month {
        margin-right: 5px;
        font-size: 2em;
      }
    }
    .col.col-end {
      @include common.size(50%, 100%);
      @include common.flex-row(flex-end, center);
      margin-bottom: 10px;

      button {
        padding: 10px 15px 10px 15px;
        border-radius: 20px;
        background-color: rgb(238, 238, 238);
        margin-right: 10px;
      }
      svg {
        @include common.size(5%, fit-content);
        margin-left: 5%;
        color: transparentize(gray, 0.2);
        &:hover {
          @include common.hover-event();
          transform: scale(1.15);
          color: darkgray;
        }
      }
    }
  }

  .days {
    @include common.size(100%, fit-content);
    @include common.flex-row(space-between, center);
    font-weight: 600;
    font-size: 0.65em;
    padding: 2px;
    color: gray;
    .col {
      @include common.size(12.9%, 90%);
      @include common.flex-column(flex-end, flex-start);

      padding-left: 1%;
      background: transparentize(rgb(180, 179, 179), 0.6);
      border-radius: 3px;
    }
  }
  .body {
    @include common.size(100%, 90%);
    @include common.flex-column();
    .row {
      @include common.size(100%, 100%);
      @include common.flex-row(space-between, center);
      .col {
        min-height: 100px;
        @include common.size(13.5%, 90%);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        border: 0.8px solid transparentize(gray, 0.4);
        border-radius: 5px;
        font-size: 0.8em;
        margin: 5px 0 0 0;
        .text.day {
          margin: 4px 0 4px 4px;
        }
        .not-valid {
          color: rgb(181, 181, 181);
        }
        img {
          opacity: 0.1;
        }

        .cell {
          display: block;
          overflow-y: auto;
        }
        .calendarContainer {
          .calendarItem {
            margin: 0 0 5px;
            padding: 3px;
            border-radius: 10px;
            background-color: antiquewhite;
          }
        }
      }
      .col.cell.valid,
      .col.cell.selected {
        &:hover {
          transform: scale(1.01);
          border: none;
          background: transparentize(gray, 0.8);
        }
      }
      .col.cell.selected {
        border-color: rgba(0, 0, 0);
      }
    }
  }
}
