@use "../../../static/style/_common" as common;
@import "../../../static/style/reset.scss";

* body {
  background-color: white;
}

.calendar {
  margin: 0 auto;
  @include common.size(90%, 100%);
  .header {
    @include common.size(100%, 7%);
    @include common.flex-row(space-between, baseline);

    .col.col-start {
      @include common.size(80%, 100%);
      @include common.flex-row(flex-start, center);

      .header-content {
        font-size: 22px;
        font-weight: 700;
      }

      svg {
        @include common.size(4%, fit-content);
        margin: 0 3% 0 3%;
        color: transparentize(gray, 0.2);
        &:hover {
          @include common.hover-event();
          transform: scale(1);
          color: darkgray;
        }
      }
    }

    .col.col-end {
      @include common.size(50%, 100%);
      @include common.flex-row(flex-end, center);
      margin-bottom: 10px;

      button {
        padding: 10px 15px;
        border-radius: 20px;
        background-color: rgb(238, 238, 238);
        margin-right: 1vw;
        min-width: 110px;
      }
    }
  }

  .days {
    @include common.size(100%, fit-content);
    @include common.flex-row(space-between, center);
    font-weight: 600;
    font-size: 0.8em;
    padding: 2px;
    color: gray;
    .col {
      @include common.size(12.9%, 90%);
      @include common.flex-column(flex-end, flex-start);

      padding: 0.4% 0 0.4% 1%;

      background: transparentize(rgb(180, 179, 179), 0.6);
      border-radius: 8px;
    }
  }
  .body {
    @include common.size(100%, 90%);
    @include common.flex-column();
    .row {
      @include common.size(100%, 100%);
      @include common.flex-row(space-between, center);
      .col {
        @include common.size(13.5%, 90%);
        @include common.flex-row(flex-start, flex-start);

        max-height: 110px;
        min-height: 110px;
        overflow-y: auto;

        border: 0.8px solid transparentize(gray, 0.4);
        border-radius: 5px;
        font-size: 0.8em;
        margin: 5px 0 0 0;

        .not-valid {
          color: rgb(181, 181, 181);
        }
        ::-webkit-scrollbar {
          width: 4px;
        }
        ::-webkit-scrollbar-track {
          background-color: #e4e4e4;
          border-radius: 5px;
        }
        ::-webkit-scrollbar-thumb {
          background-color: #d3d3d3;
          border-radius: 5px;
        }
      }

      .col.cell {
        display: block;
        .text.not-valid {
          .formattedDate {
            margin: 4px 0 4px 4px;
          }
        }

        .text.day {
          display: flex;
          justify-content: space-between;
          .formattedDate {
            margin: 4px 0 4px 4px;
          }
          .memoFlag {
            width: 15px;
            height: 15px;
            margin: 4px 4px 0 0;
          }
        }

        .calendarItem {
          margin: 0 0 3px 0;
          padding: 5px 0 5px 5px;
          border-radius: 7px;
          display: flex;
          align-items: center;
          justify-content: left;
          min-width: 80px;

          .nameSpan {
            max-width: 4.9vw;
            min-width: 40px;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .timeSpan {
            width: 75px;
          }

          .colorSpan {
            border-radius: 5px;
            width: 5px;
            height: 10px;
            padding: 2px 5px;
          }
          .titleSpan {
            width: 140px;
            margin-left: 2px;
          }
        }
      }
      .col.cell.valid,
      .col.cell.selected {
        &:hover {
          cursor: pointer;
          transform: scale(1.01);
          border: none;
          background: transparentize(gray, 0.8);
        }
      }
      .col.cell.selected {
        border-color: rgba(0, 0, 0);
      }
    }
  }
}
