@import "../../../static/style/reset.scss";

$color-none: #000000;
$opacity-zero: 0.3;

@include desktop {
  .CalendarDetailView-top-container {
    font-size: 18px;
  }
  .CalendarDetailView-container {
    width: 50%;
    .li-name {
      width: 150px;
    }
  }
}
@include tablet {
  .CalendarDetailView-top-container {
    font-size: 16px;
  }
  .CalendarDetailView-container {
    width: 75%;
    .li-name {
      width: 90px;
    }
  }
}
@include mobile {
  .CalendarDetailView-top-container {
    font-size: 14px;
  }
  .CalendarDetailView-container {
    width: 90%;
    .list-top-container {
      .checkedWorkList-container {
        .ul {
          .li-name {
            min-width: 50px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .li-time {
            min-width: 45px;
          }
          .li-workType {
            min-width: 27px;
          }
          .li-totalWorkTime {
            min-width: 48px;
          }
        }
      }
    }
  }
}
.CalendarDetailView-top-container {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color-none, $opacity-zero);

  display: block;

  .CalendarDetailView-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 450px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 30px;
    padding: 20px 30px;

    .list-top-container {
      margin: 3vw 1vw;
      overflow-y: auto;
      height: 230px;
      .close-button {
        float: right;
        background-color: white;
      }

      .li-name {
        display: inline-block;
        cursor: default;
      }

      .checkedWorkList-container {
        text-align: left;
        padding: 0 20px 20px 20px;

        .header {
          display: flex;
          justify-content: space-between;
        }
        .ul {
          margin-top: 10px;
          .li {
            justify-content: space-between;
            display: flex;
            align-items: center;
            height: 40px;
          }

          .li-colorname {
            display: flex;
            justify-content: left;
          }

          .li-color {
            margin: 0 10px;
            padding: 2px 5px;
            border-radius: 10px;
          }

          .li-totalWorkTime {
            width: 70px;
          }
          .li-workType {
            width: 40px;
          }
          .li-time {
            width: 120px;
          }

          .seeMore-button {
            width: 30px;
            height: 30px;
          }
        }
      }

      .scheduleList-container {
        text-align: left;
        margin: 0 20px;
        padding-top: 20px;
        border-top: 1px solid rgb(208, 208, 208);

        .ul {
          margin-top: 10px;
          .li {
            justify-content: left;
            display: flex;
            align-items: center;
            height: 40px;
          }

          .li-color,
          .li-name,
          .li-workType,
          .li-time {
            margin-right: 20px;
          }
          .li-color {
            padding: 2px 5px;
            border-radius: 10px;
          }

          .li-workType {
            width: 36px;
          }
          .li-time {
            width: 120px;
          }

          .seeMore-button {
            width: 30px;
            height: 30px;
            right: 0;
          }
        }
      }
    }
    .memo-container {
      overflow-y: auto;
      height: 90px;

      margin: 20px 40px;
      padding: 20px;
      border-top: 1px solid rgb(208, 208, 208);

      .memo-container-header {
        font-weight: 600;
        padding: 0 0 10px 0;
      }
      .memo-container-content {
        line-height: 150%;
        text-align: left;
        margin-bottom: 10px;
        color: rgb(100, 100, 100);
      }
    }
    .add-work-button {
      float: right;
      background-color: white;
    }
  }
}
