@import "../../static/reset.css";

body {
  background-color: rgba(157, 157, 157);
}
.Login-Top-Container {
}

.inputContainer {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-color: rgba(238, 238, 238);
}
.Login-Header {
  font-size: 25px;
  padding: 50px;
  font-family: "nanum-extraBold";
}
.inputContainer > p {
  display: flex;
  height: 60px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.EmailHeader,
.PasswordHeader {
  font-size: 30px;
}

.inputEmail,
.inputPassword {
  width: 250px;
  padding: 15px;
  margin: 5px;
  border: 1px solid rgb(255, 255, 255, 0);
  border-radius: 20px;
}

.loginButton,
.signupButton {
  width: 220px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.loginButton {
  margin-top: 30px;
}

.signupButton {
  margin-top: 10px;
}
