@import "../../static/reset.scss";
@import "../../static/mixin";

.updatepassword-top-container {
  position: relative;
  display: block;
  justify-content: center;
  text-align: center;

  height: 450px;

  font-size: 20px;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  margin: 10px;

  .updatepassword-header {
    text-align: left;
    height: 100px;
    align-items: center;
    display: flex;
    padding-left: 70px;

    font-size: 22px;
    font-weight: 600;
  }

  .button-container {
    text-align: right;
    margin-right: 60px;
  }
}
