@import "../../static/reset.scss";
@import "../../static/mixin";

.updatepassword-top-container {
  width: 70%;
  min-width: 890px;
  margin: 0 auto;
}

@include tablet {
  .updatepassword-top-container {
    width: 70%;
    min-width: 650px;
  }
}

@include mobile {
  .updatepassword-top-container {
    width: 60%;
    min-width: 500px;
  }
}
