@import "../../static/style/reset.scss";
@import "../../static/style/mixin";

.AuthLayout-container {
  // background-color: antiquewhite;
  padding: 50px 0 50px 0;
  margin: 0 auto;
  min-width: 1100px;
}

@include tablet {
  .AuthLayout-container {
  }
}

@include mobile {
  .AuthLayout-container {
  }
}
