@import "../../static/style/reset.scss";

.togglebutton-container {
  // margin-left: 3vw;

  button {
    margin: 0 5px 0 5px;

    .left {
      margin-right: 10px;
    }
    .right {
      margin-left: 10px;
    }
    color: rgb(154, 154, 154);
  }
  .selected {
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
}
