@import "../../static/reset.scss";

.togglebutton-container {
  button {
    .left {
      margin-left: 3vw;
    }
    .right {
      margin-left: 10px;
    }
    color: rgb(154, 154, 154);
  }
  .selected {
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
}
