@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

.WorkCheck-top-container {
  width: 70%;
  min-width: 890px;
  margin: 0 auto;
  .WorkCheck-Header-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .WorkCheck-Header {
      padding: 0 10px 0 10px;
      font-weight: 600;
    }
    .WorkCheck-getResultButton,
    .getFileButton {
      padding: 10px 15px 10px 15px;
      border-radius: 20px;
      background-color: rgb(238, 238, 238);
    }

    form {
      .WorkCheck-startInput,
      .WorkCheck-endInput,
      .WorkCheck-getResultButton {
        margin: 0 10px 0 10px;
      }
    }
  }
}

@include tablet {
  .WorkCheck-top-container {
    width: 70%;
    min-width: 650px;
  }
}

@include mobile {
  .WorkCheck-top-container {
    width: 65%;
    min-width: 500px;
  }
}
