@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

.WorkCheck-top-container {
  margin: 0 auto;
  .WorkCheck-Header-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .WorkCheck-Header {
      font-weight: 600;
      margin-right: 5px;
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      .startInput,
      .endInput {
        margin: 0 3px;
      }
    }
    .getResultBtn,
    .getFileBtn,
    .createWorkcheckBtn {
      padding: 10px 12px;
      border-radius: 20px;
      background-color: rgb(238, 238, 238);
      margin: 0 5px;
    }
    .getResultBtn {
      min-width: 55px;
    }
    .getFileBtn {
      min-width: 120px;
    }
    .createWorkcheckBtn {
      min-width: 100px;
    }
  }
}
