@import "../../static/reset.scss";
@import "../../static/mixin";

.ScheduleWeeklyView-top-container {
  .add-Schedule-button {
    // margin-right: 50px;
    float: right;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .card {
      text-align: center;
      background-color: rgb(245, 245, 245);
      border-radius: 20px;
      min-width: 200px;
      max-width: 250px;
      height: 250px;
      margin: 10px;

      .card-title {
        padding: 25px;
        font-size: 20px;
        font-family: "nanum-bold";
      }
      .card-ul {
        font-size: 16px;
        .card-li {
          align-items: center;
          padding: 10px;
          .card-li-name {
            padding: 5px;
            border-radius: 10px;
          }
          .card-li-time {
            padding: 5px;
          }
        }
      }
    }
  }
}

@include tablet {
  .ScheduleWeeklyView-top-container {
    .card-container {
      grid-template-columns: 1fr 1fr 1fr;

      .card {
        min-width: 200px;
        max-width: 200px;
        height: 230px;

        .card-title {
          padding: 15px;
          font-size: 15px;
        }
        .card-ul {
          font-size: 15px;
          .card-li {
            padding: 10px;
            .card-li-time {
              padding: 3px;
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .ScheduleWeeklyView-top-container {
    .card-container {
      grid-template-columns: 1fr 1fr;
      .card {
        min-width: 60px;
        max-width: 200px;
        height: 230px;

        .card-title {
          padding: 3vw;
          font-size: 14px;
        }
        .card-ul {
          font-size: 13px;
          .card-li {
            padding: 10px 0 10px 0;
            .card-li-time {
              padding: 3px;
            }
          }
        }
      }
    }
  }
}
