@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

$color-none: #000000;
$opacity-zero: 0;

.ManageWorkView.top-container {
  .workTypeList.li {
    margin: 20px;

    .workTypeList-li-workForm,
    .workTypeList-li-time,
    .workTypeList-li-delete {
      width: 120px;
    }

    .delete-button {
      border-radius: 20px;
      color: #505050;
      font-size: 16px;
      padding: 10px;
      width: 60px;
    }
  }
}
