@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

.ManageEmployeeView-top-container {
  position: relative;
  display: block;
  justify-content: center;
  text-align: center;

  min-width: 700px;
  height: 450px;
  font-size: 20px;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  margin: 10px;

  .employeeList-ul-col {
    margin: 0 auto;
    padding: 50px 0 40px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    .employeeList-ul-col-name,
    .employeeList-ul-col-role,
    .employeeList-ul-col-color {
      width: 150px;
      font-weight: 600;
      padding: 0 50px 0 50px;
    }
  }
  .employeeList-ul {
    margin: 0 auto;
    padding: 0px 0 20px 0;
    width: 80%;
    height: 250px;
    overflow-y: auto;

    .employeeList-li {
      cursor: pointer;
      height: 50px;
      margin: 10px;
      align-items: center;
      display: flex;
      justify-content: space-between;

      .employeeList-li-name {
        width: 150px;
      }
      .employeeList-li-role {
        width: 150px;
      }
      .employeeList-li-color {
        width: 150px;
        .employeeList-li-color-content {
          border-radius: 10px;
          padding: 4px 15px 4px 15px;
        }
      }
    }
  }
  .button-container {
    position: absolute;
    font-weight: 600;
    bottom: 0;
    right: 0;
    .employeeList-addButton {
      margin: 0 30px 30px 0;

      padding: 10px 20px 10px 20px;
      margin: 30px 0 30px 0;
      border-radius: 20px;
      background-color: #d2d2d2;
    }
  }

  .employeeList-notexist {
    height: 100%;
    p {
      padding-top: 150px;
      width: 100%;
      margin: 0 auto;
    }

    button {
      height: 80px;
      font-size: 22px;
      font-weight: 600;
      width: 100%;
    }
  }
}

@include tablet {
  .ManageEmployeeView-top-container {
    height: 700px;
    margin: 10px;

    .employeeList-ul {
      overflow-y: auto;
      height: 500px;
    }
  }
}

@include mobile {
  .ManageEmployeeView-top-container {
    height: 700px;
    margin: 10px;

    .employeeList-ul {
      overflow-y: auto;
      height: 500px;
    }
  }
}
