@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

$color-none: #000000;
$opacity-zero: 0;

.ManageEmployeeView.top-container {
  min-width: 700px;

  .employeeList.ul-col-name,
  .employeeList.ul-col-role,
  .employeeList.ul-col-color {
    width: 150px;
  }

  .employeeList-ul {
    margin: 0 auto;
    padding: 0px 0 20px 0;
    width: 80%;
    height: 300px;
    overflow-y: auto;

    .employeeList-li {
      cursor: pointer;
      height: 50px;
      margin: 10px;
      align-items: center;
      display: flex;
      justify-content: space-between;

      .employeeList-li-name {
        width: 150px;
      }
      .employeeList-li-role {
        width: 150px;
      }
      .employeeList-li-color {
        width: 150px;
        .employeeList-li-color-content {
          border-radius: 10px;
          padding: 4px 15px 4px 15px;
        }
      }
    }
  }

  .employeeList-notexist {
    height: 100%;
    p {
      padding-top: 150px;
      width: 100%;
      margin: 0 auto;
    }

    button {
      height: 80px;
      font-size: 22px;
      font-weight: 600;
      width: 100%;
      background-color: rgba($color-none, $opacity-zero);
    }
  }
}

@include tablet {
  .top-container {
    height: 700px;
    margin: 10px;
    .employeeList-ul {
      overflow-y: auto;
      height: 600px;
    }
  }
}

@include mobile {
  .top-container {
    height: 700px;
    margin: 10px;
    .employeeList-ul {
      overflow-y: auto;
      height: 600px;
    }
  }
}
