@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

$color-none: #000000;
$opacity-zero: 0;

.ManageWorkView.top-container {
  .workTypeList.li {
    margin: 20px;

    .workTypeList-li-workForm,
    .workTypeList-li-time,
    .workTypeList-li-delete {
      width: 120px;
    }

    .delete-button {
      font-size: 18px;
      width: 80px;
      border-radius: 10px;
      padding: 10px 15px 10px 15px;
      color: rgb(80, 80, 80);
    }
  }
}
