@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

.Manage-top-container {
  z-index: 100;
  width: 70%;
  min-width: 890px;
  margin: 0 auto;
  .Manage-Header-container {
    display: flex;
    justify-content: left;
  }
}

@include tablet {
  .Manage-top-container {
    width: 70%;
    min-width: 650px;
  }
}

@include mobile {
  .Manage-top-container {
    width: 60%;
    min-width: 500px;
  }
}
