@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

$color: #f2f8e9;
$opacity: 0.8;
$color-none: #000000;
$opacity-zero: 0;

.top-container {
  position: relative;
  display: block;
  justify-content: center;
  text-align: center;

  min-height: 450px;
  max-height: 500px;
  font-size: 20px;
  border-radius: 20px;
  margin: 10px;

  background-color: aliceblue;

  .ul-col {
    background-color: rgba(238, 238, 238);
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0 20px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;

    .ul-col-name,
    .ul-col-role,
    .ul-col-color,
    .ul-col-workForm,
    .ul-col-time,
    .ul-col-delete {
      background-color: aqua;
      font-weight: 600;
      padding: 0 40px 0 40px;
    }
  }

  .notexist {
    height: 100%;
    p {
      padding-top: 150px;
      width: 100%;
      margin: 0 auto;
    }

    button {
      height: 70px;
      font-size: 22px;
      font-weight: 600;
      width: 100%;
      background-color: rgba($color-none, $opacity-zero);
    }
  }
}

@include tablet {
  .top-container {
    max-height: 700px;
    margin: 10px;
  }
}

@include mobile {
  .top-container {
    max-height: 700px;
    margin: 10px;
  }
}
