@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

.Manage-top-container {
  z-index: 100;
  width: 70%;
  min-width: 890px;
  margin: 0 auto;
  .Manage-Header-container {
    display: flex;
    justify-content: left;
  }

  .button-container {
    position: absolute;
    font-weight: 600;
    bottom: 0;
    right: 0;
    .addButton {
      margin: 0 50px 30px 0;
      font-size: 16px;
      padding: 10px 20px 10px 20px;
      margin: 30px 0 30px 0;
      border-radius: 20px;
      background-color: #d2d2d2;
    }
  }
}

@include tablet {
  .Manage-top-container {
    width: 70%;
    min-width: 650px;
  }
}

@include mobile {
  .Manage-top-container {
    width: 60%;
    min-width: 500px;
  }
}
