@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

.ScheduleTotalView-top-container {
  margin: 10px;
  display: flex;
  margin: 0 auto;
  justify-content: center;

  .ScheduleTotalView-left-container,
  .ScheduleTotalView-right-container {
    font-size: 18px;
    min-height: 400px;
    max-height: 730px;

    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    text-align: center;
  }

  .ScheduleTotalView-left-container {
    margin-right: auto;
    min-width: 200px;
    margin: 10px;
    h2 {
      padding: 40px;
      font-size: 18px;
      font-weight: 700;
    }
    .employee-list-ul {
      height: 550px;
      overflow-y: auto;
      .employee-list-li {
        height: 50px;
        .employee-list-li-color {
          padding: 3px 5px 3px 5px;
          border-radius: 8px;
        }

        .employee-list-li-name {
          padding: 5px;
        }
      }
    }
    .employee-totalView {
      font-size: 16px;
      font-weight: 700;
      padding: 10px 20px 10px 20px;
      margin: 30px 0 30px 0;
      border-radius: 20px;
      background-color: #d2d2d2;
    }
  }

  .ScheduleTotalView-right-container {
    margin-left: auto;
    min-width: 750px;
    margin: 10px;
    overflow-y: auto;

    .totalList-ul {
      padding: 20px;
      .totalList-li {
        padding: 20px;
        cursor: pointer;
        border-bottom: #d2d2d2 1px solid;
        .totalList-li-date {
          margin: 0 30px 0 0;
        }
        .totalList-li-time,
        .totalList-li-hours,
        .totalList-li-name {
          margin: 0 30px 0 30px;
        }
        .totalList-li-totalWorkTime {
          margin: 0 0 0 30px;
        }
        .totalList-li-name {
          padding: 10px;
          border-radius: 15px;
        }
      }
    }
    .noData {
      padding-top: 150px;
    }
  }
}

@include tablet {
  .ScheduleTotalView-top-container {
    margin: 10px;
    display: block;

    .ScheduleTotalView-left-container {
      min-width: 750px;
      min-height: 300px;
      max-height: 300px;
      margin: 0 auto;
      margin: 10px;
      h2 {
        padding: 40px 0 40px 0;
        font-size: 20px;
      }
      .employee-list-ul {
        padding: 0 50px 0 50px;
        height: 100px;
        margin: 0 auto;

        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .employee-list-li {
          display: flex;
          width: 120px;
          align-items: center;

          .employee-list-li-color {
            padding: 0 5px 0 5px;
            border-radius: 8px;
            height: 25px;
          }
          .employee-list-li-name {
            padding: 10px;
            width: 80px;
          }
        }
      }
      .employee-totalView {
        margin: 20px;
      }
    }
    .ScheduleTotalView-right-container {
      max-height: 750px;
    }
  }
}

@include mobile {
  .ScheduleTotalView-top-container {
    margin: 10px;
    display: block;

    .ScheduleTotalView-left-container {
      min-width: 750px;
      min-height: 300px;
      max-height: 300px;
      margin: 0 auto;
      margin: 10px;
      h2 {
        padding: 40px 0 40px 0;
        font-size: 20px;
      }
      .employee-list-ul {
        padding: 0 50px 0 50px;
        height: 100px;
        margin: 0 auto;

        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .employee-list-li {
          display: flex;
          width: 120px;
          align-items: center;

          .employee-list-li-color {
            padding: 0 5px 0 5px;
            border-radius: 8px;
            height: 25px;
          }
          .employee-list-li-name {
            padding: 10px;
            width: 80px;
          }
        }
      }
      .employee-totalView {
        margin: 20px;
      }
    }

    .ScheduleTotalView-right-container {
      max-height: 750px;
    }
  }
}
