@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

.ScheduleWeeklyView-top-container {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .card {
      text-align: center;
      background-color: rgb(245, 245, 245);
      border-radius: 20px;
      min-width: 200px;
      max-width: 250px;
      height: 250px;
      margin: 10px;

      .card-title {
        padding: 25px;
        font-size: 20px;
        font-family: "nanum-bold";
      }
      .card-ul {
        font-size: 16px;
        .card-li {
          cursor: pointer;
          align-items: center;
          padding: 10px;
          .card-li-name {
            width: 50px;
            display: inline-block;
            text-overflow: ellipsis;
            padding: 5px;
            border-radius: 10px;
          }
          .card-li-time {
            padding: 5px;
          }
        }
      }
    }
  }
}

@include tablet {
  .ScheduleWeeklyView-top-container {
    .card-container {
      grid-template-columns: 1fr 1fr 1fr;
      .card {
        margin: 20px;
      }
    }
  }
}

@include mobile {
  .ScheduleWeeklyView-top-container {
    .card-container {
      grid-template-columns: 1fr 1fr;
      .card {
        min-width: 200px;
        max-width: 300px;
        margin: 20px;

        .card-title {
          font-size: 25px;
        }
        .card-ul {
          font-size: 20px;
        }
      }
    }
  }
}
