@import "../../../static/reset.scss";
@import "../../../static/mixin";

.Schedule-top-container {
  width: 70%;
  min-width: 890px;
  margin: 0 auto;
  font-size: 18px;

  .Schedule-Header-container {
    display: flex;
    justify-content: center;

    .Schedule-Header-right {
      margin-left: auto;
    }

    .add-Schedule-button {
      margin-right: 3vw;
    }
  }
}

@include tablet {
  .Schedule-top-container {
    width: 70%;
    min-width: 650px;
  }
}

@include mobile {
  .Schedule-top-container {
    width: 60%;
    min-width: 500px;
  }
}
