@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

@include desktop {
  .Schedule-top-container {
    width: 70%;
    min-width: 890px;
  }
}

.Schedule-top-container {
  margin: 0 auto;

  .Schedule-Header-container {
    display: flex;
    justify-content: center;

    .Schedule-Header-right {
      margin-left: auto;
    }

    .add-Schedule-button {
      margin-right: 3vw;
    }
  }
}
