@import "../../static/style/reset.scss";

body {
  background-color: rgb(157, 157, 157);
}
.Signup-Top-Container {
  position: relative;
  z-index: 200;

  .inputContainer {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    font-family: "nanum-regular";
  }
  .TopHeader {
    font-size: 25px;
    padding: 50px 0 40px 0;
    font-family: "nanum-extraBold";
  }
  .Header {
    text-align: left;
    font-size: 20px;
    margin: 0 0 30px 60px;
  }

  .Email,
  .code,
  .Password,
  .PasswordCheck,
  .StoreName {
    height: 90px;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .EmailHeader,
  .codeHeader,
  .PasswordHeader,
  .PasswordCheckHeader,
  .StoreNameHeader {
    font-size: 14px;
    text-align: left;
  }

  .inputCode,
  .inputPassword,
  .inputPasswordCheck,
  .inputStoreName {
    width: 350px;
    padding: 13px;
    margin-top: 10px;
    border-radius: 20px;
  }

  .email-input-container {
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    .inputEmail {
      width: 70%;
      padding: 13px;
      margin-top: 10px;
      border-radius: 20px;
      margin-right: 5px;
    }
    button {
      background-color: rgb(255, 255, 255);
      border-radius: 20px;
      cursor: pointer;
      font-size: 13px;
      padding: 15px 10px;
      width: 25%;
    }
  }

  .message-success,
  .message-error {
    padding: 3px;
    font-size: 12px;
  }
  .message-error {
    width: 100%;
  }
  .cancleButton,
  .signupButton {
    float: right;
    width: 70px;
    margin-top: 10px 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
  }

  .cancleButton {
    margin-right: 20px;
  }
  .signupButton {
    margin-right: 40px;
  }
}
