@import "../../static/style/reset.scss";

body {
  background-color: rgb(157, 157, 157);
}
.Signup-Top-Container {
  position: relative;
  z-index: 200;

  .Signup-inputContainer {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    // min-height: 600px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    font-family: "nanum-regular";
  }
  .Signup-TopHeader {
    font-size: 25px;
    padding: 50px 0 40px 0;
    font-family: "nanum-extraBold";
  }
  .Signup-Header {
    text-align: left;
    font-size: 20px;
    margin: 0 0 30px 60px;
  }

  .Signup-Email,
  .Signup-code,
  .Signup-Password,
  .Signup-PasswordCheck,
  .Signup-StoreName {
    height: 90px;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .Signup-EmailHeader,
  .Signup-codeHeader,
  .Signup-PasswordHeader,
  .Signup-PasswordCheckHeader,
  .Signup-StoreNameHeader {
    font-size: 14px;
    text-align: left;
  }

  .Signup-inputCode,
  .Signup-inputPassword,
  .Signup-inputPasswordCheck,
  .Signup-inputStoreName {
    width: 350px;
    padding: 13px;
    margin-top: 10px;
    border-radius: 20px;
  }

  .email-input-container {
    width: 380px;
    .Signup-inputEmail {
      width: 65%;
      padding: 13px;
      margin-top: 10px;
      border-radius: 20px;
      margin-right: 5px;
    }
    span {
      cursor: pointer;
      font-size: 13px;
      width: 35%;
      border-radius: 15px;
      background-color: rgb(255, 255, 255);
      padding: 10px 15px 10px 15px;
    }
  }

  .message-success {
    padding: 3px;
    font-size: 13px;
  }
  .message-error {
    padding: 3px;
    font-size: 12px;
    width: 100%;
  }
  .Signup-cancleButton,
  .Signup-signupButton {
    float: right;
    width: 70px;
    margin-top: 10px 0 10px 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
  }

  .Signup-cancleButton {
    margin-right: 20px;
  }
  .Signup-signupButton {
    margin-right: 40px;
  }
}
