@import "../../static/style/reset.scss";
@import "../../static/style/mixin.scss";

$color-none: #000000;
$opacity-zero: 0;

$color: #87b842;
$opacity: 0.8;

.Navigation-top-container {
  font-family: "nanum-extraBold";
  width: 100%;
  min-width: 1100px;
  height: 80px;
  background-color: rgba($color, $opacity);
  position: relative;
  z-index: 100;

  display: flex;
  align-items: center;

  .Navigation-logo {
    color: white;

    background-color: rgba($color-none, $opacity-zero);
    font-size: 30px;
    padding: 10px;
    margin-left: 20px;
  }

  .usermodal-container {
    position: absolute;
    right: 10px;
  }
  .Navigation-menu {
    font-family: "nanum-regular";

    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 30px;
    width: 100%;
    min-width: 600px;
    margin-right: 50px;

    button {
      color: white;
      background-color: rgba($color-none, $opacity-zero);
      font-size: 20px;
      padding: 10px;
      margin: 0 10px 0 10px;
    }
    .userIcon {
      padding: 10px;
      margin: 0 10px 0 10px;
      width: 35px;
    }
  }
}

@include tablet {
  .Navigation-top-container {
    .Navigation-menu {
      min-width: 550px;
      margin-right: 30px;
    }
  }
}

@include mobile {
  .Navigation-top-container {
    .Navigation-menu {
      min-width: 650px;
      margin-right: 50px;
    }
  }
}
