@import "../../static/style/reset.scss";

$color-none: #000000;
$opacity-zero: 0;

$color-usermodal: rgb(236, 236, 236);
$opacity-usermodal: 0.8;

.usermodal {
  button {
    background-color: rgba($color-none, $opacity-zero);
  }
  width: 130px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  background-color: rgba($color-usermodal, $opacity-usermodal);
  color: rgb(84, 84, 84);

  .row {
    text-align: center;
    font-family: "nanum-regular";
    font-size: 17px;
    color: black;
    .userInfo {
      border-bottom: 1px solid rgb(200, 200, 200);
    }

    .userInfo,
    .logout {
      cursor: pointer;
      padding: 10px 0 10px 0;
    }
  }
}
