@import "../../static/style/reset.scss";

$color-none: #000000;
$opacity-zero: 0;

.usermodal {
  button {
    background-color: rgba($color-none, $opacity-zero);
  }
  padding: 10px;
  width: 120px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(225, 225, 225);
  margin: 0 0 0 0;

  .row-first {
    text-align: right;
    font-size: 18px;
  }
  .row-center {
    text-align: center;
    font-family: "nanum-regular";
    font-size: 17px;

    .userInfo,
    .logout {
      cursor: pointer;
      margin: 10px;
    }
  }
}
