@import "../../static/style/reset.scss";

$color-none: #000000;
$opacity-zero: 0;

.usermodal {
  z-index: 1000;
  button {
    background-color: rgba($color-none, $opacity-zero);
  }
  width: 140px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(225, 225, 225);

  .row-first {
    text-align: right;
    font-size: 18px;
  }
  .row-center {
    text-align: center;
    font-family: "nanum-regular";
    font-size: 17px;

    .userInfo,
    .logout {
      cursor: pointer;
      margin: 15px 0 15px 0;
    }
  }
}
