@import "../../static/style/reset.scss";
$color-none: #000000;
$opacity-zero: 0.3;

.modal-background {
  z-index: 200;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color-none, $opacity-zero);

  .readmodal-container {
    padding: 30px 35px 35px 40px;
    h3 {
      margin: 30px 0 45px 0;
    }
  }
  .writemodal-container {
    padding: 40px 20px 40px 20px;
    h3 {
      margin: 10px 0 40px 0;
    }
  }

  .readmodal-container,
  .writemodal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 450px;
    max-height: 450px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 30px;

    h3 {
      text-align: center;
      font-size: 22px;
      font-weight: 600;
    }
    .modal-read-close-button {
      font-size: 18px;
      float: right;
      background-color: white;
    }

    p {
      min-height: 50px;
      padding: 0 20px 0 20px;
      display: flex;
      align-items: baseline;
      margin-bottom: 10px;

      span {
        margin-right: 20px;
        width: 80px;
        font-size: 20px;
        text-align: center;
      }
      input,
      select,
      textarea {
        font-size: 18px;
        border: 1px solid rgb(161, 161, 161);
        border-radius: 10px;
        padding: 5px;
      }

      textarea {
        height: 100px;
      }

      /*read modal style*/
      .detail-title {
        height: 40px;
        margin-right: 20px;
        max-width: 110px;
        font-size: 20px;
        text-align: center;
      }

      .detail-content {
        height: 40px;
        min-width: 150px;
        max-width: 180px;
        display: flex;
        justify-content: center;
      }

      .detail-color {
        width: 30px;
        height: 30px;
        border-radius: 10px;
      }

      .detail-memocontent {
        min-height: 50px;
        max-height: 80px;
      }
    }

    .modal-date > input {
      width: 200px;
    }

    .modal-employee > select {
      text-align: center;
      width: 200px;
    }

    .modal-worktype {
      .worktype-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 280px;
        line-height: 20px;
      }
      label {
        padding: 0 10px 0 5px;
      }
    }

    .modal-color {
      align-items: start;
      text-align: left;
      height: 110px;
      .color-button-container {
        width: 200px;
        button {
          margin: 0 10px 10px 10px;
          width: 30px;
          height: 30px;
          border-radius: 10px;
        }
        .selected {
          border: 1px solid black;
        }
      }
    }

    .modal-time > input {
      width: 120px;
      text-align: center;
      font-size: 17px;
    }

    .modal-time-start {
      margin-right: 5px;
    }

    .modal-time-end {
      margin-left: 5px;
    }

    .modal-write-button-container,
    .modal-read-button-container {
      font-size: 19px;
      float: right;
      button {
        background-color: white;
        margin: 40px 10px 0 10px;
      }
    }
  }
}
