@import "../../static/reset.scss";
$color-none: #000000;
$opacity-zero: 0.3;

.ReadModal-background {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color-none, $opacity-zero);

  display: block;
  font-size: 20px;

  .ReadModal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 30px;
    padding: 40px 30px 40px 30px;
  }
}
