@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

.mypage-top-container {
  width: 70%;
  min-width: 890px;
  margin: 0 auto;
}

@include tablet {
  .mypage-top-container {
    width: 70%;
    min-width: 650px;
  }
}

@include mobile {
  .mypage-top-container {
    width: 65%;
    min-width: 500px;
  }
}
