@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

.mypage-top-container {
  margin: 0 auto;
}

@include desktop {
  .mypage-top-container {
    width: 70%;
    min-width: 890px;
  }
}

@include tablet {
  .mypage-top-container {
    width: 70%;
    min-width: 650px;
  }
}
