@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

@include desktop {
  .updatepassword-top-container {
    margin: 0 auto;
    min-width: 1023px;
  }
}

@include tablet {
  .updatepassword-top-container {
    margin: 0 auto;
    min-width: 758px;
  }
}

@include mobile {
  .updatepassword-top-container {
    margin: 0 auto;
    min-width: 335px;
  }
}
