@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";
.updatepassword-container {
  width: 60%;
  min-width: 700px;

  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@include desktop {
  .updatepassword-top-container {
    margin: 0 auto;
    min-width: 1023px;
  }
}

@include tablet {
  .updatepassword-top-container {
    margin: 0 auto;
    min-width: 758px;
  }
}

@include mobile {
  .updatepassword-top-container {
    margin: 0 auto;
    min-width: 335px;
  }
}
