@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";
.updatepassword-top-container {
  width: 60%;
  min-width: 700px;
  // margin: 0 auto;

  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@include tablet {
  .updatepassword-top-container {
    width: 70%;
    min-width: 650px;
  }
}

@include mobile {
  .updatepassword-top-container {
    width: 70%;
    min-width: 600px;
  }
}
