@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

.updatepassword-top-container {
  position: relative;
  display: block;
  justify-content: center;
  text-align: center;

  height: 450px;

  font-size: 20px;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;

  .updatepassword-header {
    text-align: left;
    align-items: center;
    display: flex;
    height: 120px;

    // padding: 60px 0 40px 0;

    padding-left: 70px;

    font-size: 22px;
    font-weight: 600;
  }

  .updatepassword-form {
    width: 70%;
    margin: 0 auto;

    .updatepassword-Password,
    .updatepassword-PasswordCheck {
      height: 100px;
      padding: 2vw;
      .message-success,
      .message-error {
        margin-top: 5px;
        font-size: 15px;
      }
      .message-success {
        color: rgb(100, 100, 100);
      }
      .message-error {
        color: rgb(214, 29, 29);
      }
    }
    .updatepassword-PasswordHeader,
    .updatepassword-PasswordCheckHeader {
      text-align: left;
    }
    .updatepassword-inputPassword,
    .updatepassword-inputPasswordCheck {
      margin-top: 20px;
      padding: 15px;
      border-radius: 20px;
      width: 400px;
    }
  }
  .button-container {
    text-align: right;
    margin-right: 60px;
  }
}
