@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

@include desktop {
  .updatepassword-container {
    width: 70%;
    font-size: 20px;
  }
  .updatepassword-inputPassword,
  .updatepassword-inputPasswordCheck {
    width: 400px;
  }
}

@include tablet {
  .updatepassword-container {
    width: 80%;
    font-size: 20px;
  }
  .updatepassword-inputPassword,
  .updatepassword-inputPasswordCheck {
    width: 40vw;
    font-size: 16px;
  }
}

@include mobile {
  .updatepassword-container {
    width: 90%;
    font-size: 18px;
  }
  .updatepassword-inputPassword,
  .updatepassword-inputPasswordCheck {
    width: 60vw;
    font-size: 15px;
  }
}

.updatepassword-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  justify-content: center;
  text-align: center;

  height: 450px;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;

  .updatepassword-header {
    text-align: left;
    align-items: center;
    display: flex;
    height: 120px;

    padding-left: 70px;

    font-size: 22px;
    font-weight: 600;
  }

  .updatepassword-form {
    width: 70%;
    margin: 0 auto;

    .updatepassword-Password,
    .updatepassword-PasswordCheck {
      height: 100px;
      padding: 15px 2vw;
      .message-success,
      .message-error {
        margin-top: 5px;
        font-size: 15px;
      }
    }
    .updatepassword-PasswordHeader,
    .updatepassword-PasswordCheckHeader {
      text-align: left;
    }
    .updatepassword-inputPassword,
    .updatepassword-inputPasswordCheck {
      margin-top: 20px;
      padding: 15px;
      border-radius: 20px;
      width: 400px;
    }
  }
  .button-container {
    text-align: right;
    margin-right: 60px;
  }
}
