@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

.StatisticsView-top-container {
  position: relative;

  margin: 0 auto;
  justify-content: center;
  min-height: 450px;
  display: flex;

  font-size: 18px;
  padding: 10px 20px 10px 20px;
  margin: 20px;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  text-align: right;
  overflow-y: auto;

  .StatisticsView-Chart-Container {
    padding: 10px 0 10px 0;
    width: 90%;
    canvas {
      position: absolute;
      overflow-y: auto;
    }
  }
}

@include tablet {
  .StatisticsView-top-container {
    min-height: 650px;
  }
}

@include mobile {
  .StatisticsView-top-container {
    min-height: 650px;
  }
}
