@import "../../../static/style/reset.scss";
@import "../../../static/style/mixin";

.Statistics-top-container {
  width: 70%;
  min-width: 890px;
  margin: 0 auto;
  .Statistics-top-Header {
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 600;

    .prevButton,
    .nextButton {
      background-color: rgb(255, 255, 255);
      font-size: 20px;
      padding: 0 20px 0 20px;
      color: rgb(167, 167, 167);
    }
  }
  .Statistics-mid-Header {
    display: flex;
    margin-right: auto;
    align-items: center;

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      .startInput,
      .endInput {
        margin: 0 3px;
      }
    }
    .getResultBtn,
    .getThisMonthBtn {
      padding: 10px 12px;
      border-radius: 20px;
      background-color: rgb(238, 238, 238);
    }
    .getResultBtn {
      min-width: 55px;
    }
    .getThisMonthBtn {
      min-width: 139px;
    }
  }
}

// @include tablet {
//   .Statistics-top-container {
//     width: 70%;
//     min-width: 650px;
//   }
// }

// @include mobile {
//   .Statistics-top-container {
//     width: 70%;
//     min-width: 650px;
//   }
// }
