@import "../../static/reset.scss";
@import "../../static/mixin.scss";

.ManageWorkView-top-container {
  position: relative;
  display: block;
  justify-content: center;
  text-align: center;

  height: 450px;

  font-size: 20px;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  margin: 10px;

  .workTypeList-ul-col {
    margin: 0 auto;
    padding: 50px 0 40px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;

    .workTypeList-ul-col-workForm,
    .workTypeList-ul-col-time,
    .workTypeList-ul-col-delete {
      padding: 0 50px 0 50px;
      font-weight: 600;
    }
  }
  .workTypeList-ul {
    margin: 0 auto;
    padding: 0px 0 20px 0;
    width: 80%;
    height: 250px;
    overflow-y: auto;

    .workTypeList-li {
      height: 50px;
      margin: 20px;
      align-items: center;
      display: flex;
      justify-content: space-between;

      .workTypeList-li-workForm {
        width: 100px;
      }
      .workTypeList-li-time {
        width: 120px;
      }
      .workTypeList-li-delete {
        width: 20px;
      }
    }
  }

  .button-container {
    position: absolute;
    font-weight: 600;
    bottom: 0;
    right: 0;
    .workTypeList-addButton {
      margin: 0 30px 30px 0;
    }
  }
}

@include tablet {
  .ManageEmployeeView-top-container {
    height: 700px;
    margin: 10px;

    .workTypeList-ul {
      overflow-y: auto;
      height: 500px;
    }
  }
}

@include mobile {
  .ManageEmployeeView-top-container {
    height: 700px;
    margin: 10px;
    .workTypeList-ul {
      overflow-y: auto;
      height: 500px;
    }
  }
}
