@import "../../static/reset.scss";
@import "../../static/mixin.scss";

.ManageWorkView-top-container {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;

  min-height: 400px;
  max-height: 450px;
  font-size: 20px;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  margin: 10px;
  overflow-y: auto;

  .workFormList-ul {
    width: 60%;
    .workFormList-ul-col {
      margin: 50px 0 50px 0;
      display: flex;
      justify-content: space-between;

      .workFormList-ul-col-workForm,
      .workFormList-ul-col-time,
      .workFormList-ul-col-delete {
        padding: 0 50px 0 50px;
        font-weight: 600;
      }
    }
    .workFormList-li {
      height: 50px;
      margin: 20px;
      align-items: center;
      display: flex;
      justify-content: space-between;

      .workFormList-li-workForm {
        width: 100px;
        // background-color: aqua;
      }
      .workFormList-li-time {
        width: 120px;
        // background-color: aqua;
      }
      .workFormList-li-delete {
        width: 20px;
        // background-color: aqua;
      }
    }
  }

  .button-container {
    position: absolute;
    font-weight: 600;

    bottom: 0;
    right: 0;
    .workFormList-addButton {
      padding: 20px;
      margin: 20px;
    }
  }
}

@include tablet {
  .ManageEmployeeView-top-container {
    min-width: 700px;
    max-height: 700px;
    margin: 10px;
  }
}

@include mobile {
  .ManageEmployeeView-top-container {
    min-width: 700px;
    max-height: 700px;
    margin: 10px;
  }
}
