.pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;

  .button-container {
    padding: 5px 1.5vw 5px 1.5vw;
    background-color: #f6f6f6;
    border-radius: 30px;
    .buttons {
      background-color: #f6f6f6;
      margin: 0 1.2vw 0 1.2vw;
    }
  }
}
