@import "../../static/reset.scss";
@import "../../static/mixin";

.WorkCheck-top-container {
  width: 70%;
  min-width: 890px;
  margin: 0 auto;
  .WorkCheck-Header-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .WorkCheck-Header {
      padding: 0 10px 0 10px;
      font-weight: 600;
    }
    .WorkCheck-getResultButton,
    .getFileButton {
      padding: 10px 15px 10px 15px;
      border-radius: 20px;
      background-color: rgb(238, 238, 238);
    }

    form {
      //input date custom
      input[type="date"] {
        position: relative;
        border: 1px solid #ddd;
        font-size: 15px;
        padding: 5px;
        width: 120px;
        text-align: center;
      }

      input[type="date"]::-webkit-clear-button,
      input[type="date"]::-webkit-inner-spin-button {
        display: none;
      }
      input[type="date"]::-webkit-calendar-picker-indicator {
        color: rgba(0, 0, 0, 0); //숨긴다
        opacity: 1;
        display: block;
        background: url(https://cdn.icon-icons.com/icons2/3691/PNG/512/year_month_date_calendar_icon_229493.png)
          center/100% no-repeat white;
        width: 20px;
        height: 20px;
      }
      .WorkCheck-startInput {
        margin: 0 10px 0 10px;
      }
      .WorkCheck-endInput {
        margin: 0 10px 0 10px;
      }
      .WorkCheck-getResultButton {
        margin: 0 10px 0 10px;
      }
    }
    .getFileButton {
    }
  }
}

@include tablet {
  .WorkCheck-top-container {
    width: 70%;
    min-width: 650px;
  }
}

@include mobile {
  .WorkCheck-top-container {
    width: 60%;
    min-width: 500px;
  }
}
